body {
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #999999;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #a6a29d;
  color: black;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    justify-content: space-between;
}

p.block {
    border: 15px solid blue;
    border-radius: 8px;
    padding: 5px;
    background-color: gray;
}

.home-block1 {
    width: 50%;
    background-color: #e5e5e5;
    padding: 1%;
    box-sizing: border-box;
    border: 10px;
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
    margin: auto;
}

.block1 {
    width: 49.5%;
    background-color: #e5e5e5;
    padding: 2%;
    box-sizing: border-box;
    border: 10px;
    border-radius: 8px;
    float: left;
}

.block2 {
    width: 33%;
    background-color: gray;
    padding: 2%;
    box-sizing: border-box;
    border: 10px #848484;
    border-radius: 8px;
    float: left;
    margin: auto;
}

.block3 {
    width: 49.5%;
    background-color: #e5e5e5;
    padding: 2%;
    box-sizing: border-box;
    border: 10px;
    border-radius: 8px;
    float: right;
    margin: auto;
}

.courses-blocks {
    width: 100%;
    background-color: #e5e5e5;
    padding: 2%;
    box-sizing: border-box;
    border: 10px;
    border-radius: 8px;
    float: left;
    margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

a:link{
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

.flex-center {
  width: 100%;
  min-height: 10vh;
  margin: 10px;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-3d {
    align-items:center;
    padding: 20px;
    color: #000000;
}

@media screen and (max-width: 5.4in){
    .home-block1 {
        width: 100%;
    }
    .flex-center {
        width: 100%;
    }
    .block1 {
        width: 100%;
    }
    .block3 {
        width: 100%;
    }
    .center {
        width: 70%;
    }
}