/* body */
body {
    font-family: monospace;
    background-color: var(--base-color);
    color: var(--text-color);
    margin: 0;
    transition: background 0.2s linear;
    align-items: center;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}

:root{
    --base-color: #fff;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

.darkmode{
    --base-color: #070b1d;
    --base-variant: #101425;
    --text-color: #fff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#theme-switch svg{
    fill: var(--primary-color);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

figcaption {
  color: var(--text-color);
  font-style: italic;
  text-align: center;
}

/* top navigator */

.nav {
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
    top: 0px;
    width: 100%;
    transition: all 0.5s;
    position: sticky;
}
.nav-scrolled {
  background-color: rgb(70, 130, 180);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.nav a {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-family: monospace;
    box-sizing: border-box;
    border-radius: 10px;
}

.nav a.active {
    text-decoration: underline;
    color: var(--text-color);
}

/* common in all sections */

/* common in all sections - containers */

#underline-gap {
    text-decoration: underline;
    text-underline-position: under;
  }

.cont {
    display: flex;
    align-items: center;
    width: 100%;
}

.main-text{
    font-size: 23px;
    padding: 10px 30px 10px 30px;
    text-align: justify;
}

.two-col{
    width: 50%;
    padding: 10px 30px 10px 30px;
}

.three-col{
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

p{
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    text-align: justify;
}

ul{
    padding: 5px 20px 5px 40px;
    font-size: 16px;
    text-align: justify;
}

ol{
    padding: 5px 20px 5px 40px;
    font-size: 16px;
    text-align: justify;
}

p.text-button{
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    align-items: center;
    text-align: center;
}

.text-button{
    margin:0px 0px 10px 0px;
}

.block {
    display: block;
    padding: 10px 10px 10px 10px;
    width: 100%;
    text-align: justify;
    align-items: center;
}

h1 {
    text-color: var(--primary-color);
    font-family: monospace;
    font-size: 40px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-color: var(--primary-color);
    font-family: monospace;
    padding: 15px 0px 15px 0px;
    font-size: 30px;
    text-align: center;
}

h3 {
    padding: 10px 10px 10px 10px;
    text-color: var(--primary-color);
    font-family: monospace;
    font-size: 25px;
}

h4 {
    text-color: var(--primary-color);
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0px 10px 0px;
    position: static;
    bottom: 0;
    width: 100%;
}

/* common in all sections - images*/

.center {
  display: block;
  margin: auto;
  padding: 20px 20px 20px 20px;
  width: 40%;
}

/* common in all sections - links */

a:link{
    color: var(--text-color);
    text-decoration: none;
}

a:visited {
    color: var(--text-color);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

/* home section */

.profile-photo {
    width: 50%;
    display: block;
    padding: 0px 20px 0px 20px;
    margin-left: auto;
    margin-right: auto;
}

.home-photo{
    width:100%;
    display:block;
    padding:0px 20px 0px 20px;
    margin-left:auto;
    margin-right:auto;
}

.outreach-photo{
    width:88%;
    display:block;
    padding:0px 20px 0px 20px;
    margin-left:auto;
    margin-right:auto;
}

.courses-photo{
    width: 100%;
    display: block;
    padding: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(70, 130, 180);
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 0 auto;
    width: 50%;
}

.button:hover {background-color: rgb(70, 130, 180)}

.button:active {
  background-color: rgb(70, 130, 180);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.main {
    font-size: 20px;
}

/* notes section */

/* courses section */

.latex-course {
    background-color: var(--base-variant);
    color: var(--text-color);
    padding: 30px 30px 30px 30px;
    margin: auto;
    display: none;
    overflow: hidden;
}

/* resources section*/

/* contact section */

.responsive-container{
    position: static;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 900px;
    background-color: var(--base-color);
    margin-bottom: -50px;
}

.responsive-container iframe{
    position: static;
    overflow: hidden;
    text-align: center;
    width: 100%;
    border:none;
    height: 900px;
    background-color: var(--base-color);
}

/* contact section - social media button */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  width: 2.5em;
  height: 2.5em;
  font-size: 2em;
  display: flex;
  text-decoration: none;
  color: #000;
  outline: 2px solid #000;
  outline-offset: -8px;
  border-radius: 50%;
  transition: all 200ms ease-in;
}

.icon i {
  margin: auto;
}

.icon:hover {
  outline-width: 6px;
  outline-color: #fff;
  color: #fff;
}

.icon:hover:has(.fa-x-twitter) {
  background-color: #000;
}

.icon:hover:has(.fa-instagram) {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.icon:hover:has(.fa-github) {
  background-color: #000;
}

.icon:hover:has(.fa-spotify) {
  background-color: green;
}

.icon:hover:has(.fa-linkedin) {
  background-color: blue;
}

.flex-center {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 30px 0px;
}

/* tutoring section */

.text-tutoring {
    background-color: #282828;
    color: white;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    margin 0px;
    width: 100%;
}

.poster-tutoring {
    padding: 0px;
    width: 100%;
    margin: 0px;
}

/* phone view */

@media screen and (max-width: 961px){
    .cont {
        display:inline;
        width:100%;
        gap:20px;
        align-elements:center;
    }
    .two-col{
        width:100%;
        padding: 10px 10px 10px 10px;
    }
    .three-col{
        padding: 10px 0px 10px 0px;
    }
    .main-text{
        font-size: 20px;
        padding: 10px 10px 10px 10px;
        text-align: justify;
    }
    .block {
        width:100%;
        align-elements:center;
    }
    .profile-photo {
        display:none;
    }
    .button {
        align-elements:center;
    }
    .flex-center {
        width: 100%;
    }
    .center {
        width: 100%;
    }
    .responsive-container{
        width:100%;
    }
}